@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-jp.css");

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
img{
    vertical-align: top;
}

html{
    background-image: url(images/bg.jpg);
    background-repeat: repeat;
    width: 100%;
    font-family: "Pretendard JP";
}

.space{
    height: 100vh;
    width: 1320px;
    margin: 0 auto;
}

.ctrl{
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}
button{
    width: 18px;
    height: 18px;
    background-color: #e6e6e6;
    border-radius: 50%;
    position: relative;
    z-index: 30;
    transition: all 0.3s;
    border: 0;
}
.ctrl li{
    margin-bottom: 5px;
    position: relative;
}
.ctrl span{
    position: absolute;
    right: -150px;
    top: 0;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    color: #8a292a;
    transition: all 0.5s;
    padding: 2px 5px;
    white-space:nowrap;
}
.ctrl li.active button{
    background-color: #8a292a;
}
.ctrl li.active span{
    right: 30px;
}

.sb{
    font-weight: 500;
    line-height: 24px;
}

.page1{
    text-align: center;
    position: relative;
}
.page1 .tit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page1 .tit p{
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    color: #8a292a;
}

.space .title{
    padding: 40px 0;

}
.space .title h2{
    font-size: 32px;

}
.space .title h3{
    font-size: 48px;
    color: #c5c5c5;
    
}
.page2{
    position: relative;
}
.page2 .imgleft{
    display: flex;
    margin-left: 150px;
}
.page2 .imgleft .sb{
    width: 357px;
    height: 190px;
    background-image: url(images/1-1.png);
    background-repeat: no-repeat;
    padding-left: 37px;
    padding-top: 14px;
    margin-left: 50px;
}
.page2 .imgleft .sb span{
    color: #8a292a;
}
.page2 .imgright{
    position: absolute;
    bottom: 30px;
    right: 0;
}
.page2 .imgright .sb{
    width: 330px;
    height: 81px;
    background-image: url(images/1-2.png);
    background-repeat: no-repeat;
    padding-left: 18px;
    padding-top: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.page2 .imgright .imgwrap{
    display: flex;
}
.page2 .imgright .img{
    margin: 0 15px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 10px 10px #ccc;
}

.page3 .bi{
    position: relative;
    width: 700px;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
}
.page3 .bi .sb{
    position: absolute;
    right: 0px;
    top: calc(50% - 50px);
    transform: translateY(-50%);
    width: 321px;
    height: 141px;
    background-image: url(images/2-1.png);
    background-repeat: no-repeat;
    padding-left: 32px;
    padding-top: 17px;
}
.page3 .bi .sb h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.page4{
    position: relative;
}
.page4 .imgwrap{
    width: 690px;
    height: 705px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-left: 150px;
}
.page4 .img{
    height: 330px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 10px 10px #ccc;

}
.page4 .imgright{
    position: absolute;
    bottom: 0;
    right: 150px;
    text-align: center;
}
.page4 .imgright .sb{
    background-image: url(images/4-1.png);
    background-repeat: no-repeat;
    width: 302px;
    height: 102px;
    padding-left: 8px;
    padding-top: 15px;
    margin-bottom: 25px;
}

.page5 .imgtop, .page5 .imgbottom{
    display: flex;
    margin: 0 auto;
    width: fit-content;
}
.page5 .imgtop:last-child, .page5 .imgbottom img:last-child{
    margin-right: 0;
}
.page5 .imgtop{
    padding-top: 50px;
}
.page5 .imgbottom{
    margin-top: 30px;
}
.page5 img{
    margin-right: 30px;
    box-shadow: 2px 10px 10px #ccc;
}
.page5 .imgtop .sb{
    background-image: url(images/5-1.png);
    background-repeat: no-repeat;
    width: 252px;
    height: 102px;
    padding-left: 35px;
    padding-top: 12px;
    margin-top: 140px;
}

.imgleft{
    width: fit-content;
    height: 680px;
    position: relative;
    margin-left: 120px;
}
.page6 .imgwrap{
    width: 490px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page6 .imgleft .img{
    height: 250px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 10px 10px #ccc;
}
.page6 .imgleft .sb{
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(images/6-1.png);
    background-repeat: no-repeat;
    width: 237px;
    height: 106px;
    padding-left: 20px;
    padding-top: 15px;
}
.page6 .wrap{
    display: flex;
}
.page6 .bn img{
    margin-left: 50px;
    box-shadow: 2px 10px 10px #ccc;
}
